<!--Notem que a organização deste tipo de painel é a seguinte
<details>
    <sumary> Nele fica o texto que aparece como título </sumary>
    o rsto é o corpo que so aparece quando o painel é expandido
</details>
-->

<div class="panel">
    <details>
        <summary>
            <h3> Conta e pagamento</h3>
        </summary>
        <div class="content">
            <ul>
                <li><a href="https://support.spotify.com/br/account_payment_help/account_help/">Ajuda com a conta</a></li>
                <li><a href="https://support.spotify.com/br/account_payment_help/payment_help">Ajuda com pagamentos</a></li>
                <li><a href="https://support.spotify.com/br/account_payment_help/subscription_options">Opções de assinatura</a></li>
                <li><a href="https://support.spotify.com/br/account_payment_help/premium_for_family">Premium Familiar</a></li>
                <li><a href="https://support.spotify.com/br/account_payment_help/premium_duo/">Premium Duo</a></li>
                <p>
                    <a href="https://support.spotify.com/br/?_gl=1*15d23bn*_gcl_aw*R0NMLjE1ODQ5OTEzNTguQ2p3S0NBand2T0h6QlJCb0Vpd0E0OGk2QXRTbDBVQzNNU19rZjlhdUxCWjFkUmItU1YwUnlUYVAxRF85dHlaaWZIQVQ1SWxfV1JRekRCb0NEdUlRQXZEX0J3RQ..*_gcl_dc*R0NMLjE1ODQ5OTEzNTguQ2p3S0NBand2T0h6QlJCb0Vpd0E0OGk2QXRTbDBVQzNNU19rZjlhdUxCWjFkUmItU1YwUnlUYVAxRF85dHlaaWZIQVQ1SWxfV1JRekRCb0NEdUlRQXZEX0J3RQ..&_ga=2.208350032.356119338.1584991357-869730266.1584991357&_gac=1.254347770.1584991374.CjwKCAjwvOHzBRBoEiwA48i6AtSl0UC3MS_kf9auLBZ1dRb-SV0RyTaP1D_9tyZifHAT5Il_WRQzDBoCDuIQAvD_BwE#">MOSTRAR
                        TUDO
                    </a>
                </p>
            </ul>
        </div>
    </details>
    <details class="details-two">
        <summary>
            <h3> Usando o Spotify</h3>
        </summary>
        <div class="content">
            <ul>
                <li><a href="https://support.spotify.com/br/using_spotify/video_tutorials">Tutoriais em Vídeo</a></li>
                <li><a href="https://support.spotify.com/br/using_spotify/getting_started">Primeiros passos</a></li>
                <li><a href="https://support.spotify.com/br/using_spotify/playlists">Playlists</a></li>
                <li><a href="https://support.spotify.com/br/using_spotify/features">Recursos</a></li>
                <li><a href="https://support.spotify.com/br/using_spotify/system_settings">Sistemas e configurações</a>
                </li>
                <p>
                    <a href="https://support.spotify.com/br/?_gl=1*15d23bn*_gcl_aw*R0NMLjE1ODQ5OTEzNTguQ2p3S0NBand2T0h6QlJCb0Vpd0E0OGk2QXRTbDBVQzNNU19rZjlhdUxCWjFkUmItU1YwUnlUYVAxRF85dHlaaWZIQVQ1SWxfV1JRekRCb0NEdUlRQXZEX0J3RQ..*_gcl_dc*R0NMLjE1ODQ5OTEzNTguQ2p3S0NBand2T0h6QlJCb0Vpd0E0OGk2QXRTbDBVQzNNU19rZjlhdUxCWjFkUmItU1YwUnlUYVAxRF85dHlaaWZIQVQ1SWxfV1JRekRCb0NEdUlRQXZEX0J3RQ..&_ga=2.208350032.356119338.1584991357-869730266.1584991357&_gac=1.254347770.1584991374.CjwKCAjwvOHzBRBoEiwA48i6AtSl0UC3MS_kf9auLBZ1dRb-SV0RyTaP1D_9tyZifHAT5Il_WRQzDBoCDuIQAvD_BwE#">MOSTRAR
                        TUDO
                    </a>
                </p>
            </ul>
        </div>
    </details>
    <details>
        <summary class="details-three">
            <h3>Ouça onde quiser</h3>
        </summary>
        <div class="content">
            <ul>
                <li><a href="https://support.spotify.com/br/listen_everywhere/on_speaker">Auto-falantes</a></li>
                <li><a href="https://support.spotify.com/br/listen_everywhere/on_tv">TVs</a></li>
                <li><a href="https://support.spotify.com/br/listen_everywhere/in_the_car">Carros</a></li>
                <li><a href="https://support.spotify.com/br/listen_everywhere/gaming">Videogames</a></li>
                <li><a href="https://support.spotify.com/br/listen_everywhere/smart_watches">Smartwatches</a></li>
                <p>
                    <a href="https://support.spotify.com/br/?_gl=1*15d23bn*_gcl_aw*R0NMLjE1ODQ5OTEzNTguQ2p3S0NBand2T0h6QlJCb0Vpd0E0OGk2QXRTbDBVQzNNU19rZjlhdUxCWjFkUmItU1YwUnlUYVAxRF85dHlaaWZIQVQ1SWxfV1JRekRCb0NEdUlRQXZEX0J3RQ..*_gcl_dc*R0NMLjE1ODQ5OTEzNTguQ2p3S0NBand2T0h6QlJCb0Vpd0E0OGk2QXRTbDBVQzNNU19rZjlhdUxCWjFkUmItU1YwUnlUYVAxRF85dHlaaWZIQVQ1SWxfV1JRekRCb0NEdUlRQXZEX0J3RQ..&_ga=2.208350032.356119338.1584991357-869730266.1584991357&_gac=1.254347770.1584991374.CjwKCAjwvOHzBRBoEiwA48i6AtSl0UC3MS_kf9auLBZ1dRb-SV0RyTaP1D_9tyZifHAT5Il_WRQzDBoCDuIQAvD_BwE#">MOSTRAR
                        TUDO
                    </a>
                </p>
            </ul>
        </div>
    </details>

</div>