<div class="header">
    <div class="header-image">
        <div class="frase-efeito">
            <h1>Como podemos ajudar?</h1>
        </div>

        <div class="op1">
            <p>OPÇÕES DE ASSINATURA</p>
            <a href="https://support.spotify.com/br/account_payment_help/subscription_options/premium-family/?ref=in_top">
                Premium Família</a>
        </div>
        <div class="op2">
            <p>AJUDA COM A CONTA</p>
            <a href="https://support.spotify.com/br/account_payment_help/account_help/cannot-log-in-to-spotify/?ref=in_top">
                Não consigo fazer login</a>
        </div>
        <div class="op3">
            <p>AJUDA COM A CONTA</p>
            <a href="https://support.spotify.com/br/account_payment_help/account_help/change-password/?ref=in_top">
                Redefinir sua senha</a>
        </div>
    </div>

</div>

<app-painel-expansivo></app-painel-expansivo>
<app-community></app-community>