
/* corpo da div*/
.body {
    background-image: linear-gradient(to right,rgb(237,41,49),rgb(249,90,62));
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* caixa de texto*/
.text-box {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-box h1 {
    color: rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-shadow: black;
}

.text-box p{
    color: rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.text-box button{
    padding: 15px 30px;
    background-color:  #2d46b9;
    border:none;
    border-radius: 30px;
    text-align: center;
    text-shadow: black;
    color: rgb(255,255,255);
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    transition: 0.1s;
    cursor: pointer;
}

.text-box button:hover {
    background-color: rgb(30,50,100);
}