<div class="body">
    <div class="text-box">
        <h1>Visite a Comunidade</h1>
        <p>Tem uma pergunta? Encontre respostas na nossa Comunidade de <br> fãs especialistas do mundo todo!</p>
        <a href="https://community.spotify.com/t5/Spotify-Answers/tkb-p/Spotify-Answers?_ga=2.208725840.356119338.1584991357-869730266.1584991357&_gac=1.127028735.1584991374.CjwKCAjwvOHzBRBoEiwA48i6AtSl0UC3MS_kf9auLBZ1dRb-SV0RyTaP1D_9tyZifHAT5Il_WRQzDBoCDuIQAvD_BwE"><button>ENCONTAR RESPOSTAS</button></a>
    </div>
</div>
